.new-recipe-flag {
  position: relative;

  p {
    position: absolute;
    top: 16px;
    left: 17px;
    letter-spacing: 3px;
    text-transform: uppercase;

    span {
      color: $white;
      background: transparentize($green, 0.4);
      padding: 10px 60px;
    }
  }
}
