extends layouts/h5bp.jade

block content
  article
    .row
      .columns
        img(src='http://placehold.it/1500x600')
    .row
      .medium-11.medium-centered.large-centered.columns
        header
          h5 Chadwick Boyd has One Mission: To Change the World
        p Chadwick regularly appears on ABC, NBC, CBS, PBS and cable networks, like Lifetime, sharing delicious food, musings and entertaining tips with millions of viewers. Chadwick was a featured guest on the PBS special, Heirloom Meals, updating heritage recipes for the modern cook.
        p He is featured in Southern Living’s “Slim Down South Cookbook” and has contributed to Better Homes and Gardens. He has appeared on national television as a BHG food expert.
        p Chadwick concepts, markets and contributes to cooking, entertaining and design books. He has worked with Food Network’s Tyler Florence, Trading Spaces’ Doug Wilson, and Panera Bread, which sold 70,000 copies of their first and only cookbook upon release.
        p When not in front of the camera, in the test kitchen or writing, Chadwick owns and manages a brand consulting practice that builds strategic relationship networks for food and lifestyle brands and companies. Brands served include California Pizza Kitchen, Coca-Cola, ConAgra, Food Network, McDonald’s and Random House.
        p Chadwick develops the Southern Food Writing Conference and International Biscuit Festival. He also travels frequently around the country to food festivals, conferences and trade shows, making appearances and keeping tabs on emerging food trends.
        p Chadwick has offices in New York and Atlanta.
