extends layouts/h5bp.jade

block content
  .row
    .labelrow
      .medium-5.columns "All the things all the things. So many things. What more do you want. I cannot say because I want to be a bad bay."
  .row
    .columns
      img(src='http://placehold.it/1500x600')
  .photo-borders.appearances
    .row
      .medium-3.columns
        .date-box
          h3 January 1, 2015
          p 12 Noon EST
      .medium-5.columns
        h2 International Home and Gift Show
        p Bacon ipsum dolor amet shankle kielbasa meatball ham hock frankfurter, doner pork bacon pig porchetta jowl beef t-bone strip steak sirloin. 
      .medium-4.columns.drop-shadow
        img(src='images/650x410.gif')
      .columns
        hr
      .medium-3.columns
        .date-box
          h3 January 1, 2015
          p 12 Noon EST
      .medium-5.columns
        h2 International Home and Gift Show
        p Bacon ipsum dolor amet shankle kielbasa meatball ham hock frankfurter, doner pork bacon pig porchetta jowl beef t-bone strip steak sirloin. 
      .medium-4.columns.drop-shadow
        img(src='images/650x410.gif')
      .columns
        hr
      .medium-3.columns
        .date-box
          h3 January 1, 2015
          p 12 Noon EST
      .medium-5.columns
        h2 International Home and Gift Show
        p Bacon ipsum dolor amet shankle kielbasa meatball ham hock frankfurter, doner pork bacon pig porchetta jowl beef t-bone strip steak sirloin. 
      .medium-4.columns.drop-shadow
        img(src='images/650x410.gif')
