extends layouts/h5bp.jade

block content
  .img-margin
    .row.section-padding
      .medium-6.columns
        p.green-text "I am fortunate to be in front of the camera and in front of people and still run my brand consulting practice. Truth is, I love helping consumer food and lifestyle brans tell their story and build business."
        p L+D Enterprises is my brand consulting practice that builds strategic relationship networks for consumer food brands, television networks, publishing – books and magazines, talent and influencers, and premium retail. We specialize in product innovation and category creation, too. All with the intent to helps businesses remain relevant in the marketplace and brings products to people that they love and care about.”
      .medium-5.columns
        img(src='http://placehold.it/500x400')
    .row.section-padding
      .columns 
        h5 Clients
      .logos
        .small-6.medium-2.columns
          img(src='http://placehold.it/100x100')
        .small-6.medium-2.columns
          img(src='http://placehold.it/100x100')
        .small-6.medium-2.columns
          img(src='http://placehold.it/100x100')
        .small-6.medium-2.columns
          img(src='http://placehold.it/100x100')
        .small-6.medium-2.columns
          img(src='http://placehold.it/100x100')
        .small-6.medium-2.columns
          img(src='http://placehold.it/100x100')
    .row.section-padding.photo-borders
      .small-12.columns 
        h5 Case Studies
      .medium-8.columns.consulting-shadow
        img(src='http://placehold.it/700x360')
      .medium-4.columns
        h5 Conagra Foods
        p Laccum quaecti onsequatet quam quaestiosam imint laboreh endantur. Ucim latur aut labo. Anda adipsumquo venimendit magnimus eicae nonet rehendis sus. Quam in conserf eriaten iasperum num es mint, es vollore sed molendisqui bea identem ium dolupta.
        a(href='/').green www.thecompany.com
      .medium-8.columns.consulting-shadow
        img(src='http://placehold.it/700x360')
      .medium-4.columns
        h5 Conagra Foods
        p Laccum quaecti onsequatet quam quaestiosam imint laboreh endantur. Ucim latur aut labo. Anda adipsumquo venimendit magnimus eicae nonet rehendis sus. Quam in conserf eriaten iasperum num es mint, es vollore sed molendisqui bea identem ium dolupta.
        a(href='/').green www.thecompany.com
      .medium-8.columns.consulting-shadow
        img(src='http://placehold.it/700x360')
      .medium-4.columns
        h5 Conagra Foods
        p Laccum quaecti onsequatet quam quaestiosam imint laboreh endantur. Ucim latur aut labo. Anda adipsumquo venimendit magnimus eicae nonet rehendis sus. Quam in conserf eriaten iasperum num es mint, es vollore sed molendisqui bea identem ium dolupta.
        a(href='/').green www.thecompany.com
      .medium-8.columns.consulting-shadow
        img(src='http://placehold.it/700x360')
      .medium-4.columns
        h5 Conagra Foods
        p Laccum quaecti onsequatet quam quaestiosam imint laboreh endantur. Ucim latur aut labo. Anda adipsumquo venimendit magnimus eicae nonet rehendis sus. Quam in conserf eriaten iasperum num es mint, es vollore sed molendisqui bea identem ium dolupta.
        a(href='/').green www.thecompany.com
    .row.section-padding.photo-borders
      .columns
        h5 What We're Reading
      .medium-4.columns.reading-shadow
        img(src='http://placehold.it/250x100')
      .medium-4.columns.reading-shadow
        img(src='http://placehold.it/250x100')
      .medium-4.columns.reading-shadow
        img(src='http://placehold.it/250x100')
