extends layouts/h5bp.jade

block content
  .photo-borders
    .row
      .medium-11.medium-centered.large-centered.columns
        p Bacon ipsum dolor amet shankle kielbasa meatball ham hock frankfurter, doner pork bacon pig porchetta jowl beef t-bone strip steak sirloin. Drumstick pastrami jowl beef ribs. Porchetta ground round swine beef ribs meatloaf pancetta, turducken prosciutto strip steak. Ham hock filet mignon short ribs biltong, cupim jerky andouille prosciutto ribeye tenderloin sirloin tail chuck. Picanha capicola alcatra, sausage chicken biltong meatball landjaeger tongue tenderloin cupim pancetta beef pork. 
      .medium-6.columns.drop-shadow
        a(href='/')
          img(src='http://placehold.it/650x500')
      .medium-6.columns
        h5 Josie's Organics
        p The first ever organic farm on the planet mars! Can you even believe?! Neither can we.
        a(href='http://www.josiesfarm.com').green www.josiesfarm.com
