extends layouts/h5bp.jade

block content
  article
    .row
      .columns
        img(src='http://placehold.it/1500x600')
    .row
      .medium-3.columns.other-recipes
        h6 More Recipes
        p Fig Blue Cheese
        p Shaved Brockly Stock Salad
        p Blue Cheese & Fig Tart
        p Roasted Cauliflower Gratin with Parmesan Panko & Wasabi Pea Crust
      .medium-9.columns
        header
          h5 SRIRACHA GINGER CAULIFLOWER
          p.dots &bull; &bull; &bull;
        p Serves 4-6
        p Cauliflower is such a versatile vegetable. It marries well with all kinds of flavors. This dish brings together two of today’s highly popular ingredients, coconut oil and sriracha, to create a surprising, fun and delicious dish. You might want to consider doubling the recipe. Kids and adults alike find they can’t stop eating it!
        p INGREDIENTS
        ul
          li
            p 1 head of cauliflower, cut into florets 1/4 cup coconut oil, melted
          li
            p 1 teaspoon kosher salt
          li
            p 2 teaspoons sriracha (or to taste)
          li 
            p 1 Tablespoon fresh ginger, grated 
        p DIRECTIONS
        p Preheat oven to 425°.
        p In a large bowl combine the coconut oil, sriracha, ginger and salt. Add the cauliflower florets and toss to coat.
        p Place the cauliflower on a rimmed baking sheet and roast 40 minutes until slightly browned. Stir with a wooden spoon halfway through.
