extends layouts/h5bp.jade

block content
  .img-margin
    .row.section-padding
      .flex-video.vimeo.widescreen
        <iframe src="https://player.vimeo.com/video/110139305?title=0&byline=0&portrait=0" width="940" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  .row
    .columns
      h2 TV Host & Guest Expert Reel
      p Showcasing highlights of Chadwick's good television appearences.

  .row
    .columns
      h5
  .photo-borders
    .row.display
      .large-4.columns.drop-shadow.mobile-margin
        a(href='/')
          img(src='http://placehold.it/450x300')
          h3.text-overlay Brand Consulting
      .large-4.columns.drop-shadow.mobile-margin
        a(href='/')
          img(src='http://placehold.it/450x300')
          h3.text-overlay Brand Consulting
      .large-4.columns.drop-shadow.mobile-margin
        a(href='/')
          img(src='http://placehold.it/450x300')
          h3.text-overlay Brand Consulting
    .row.display
      .large-4.columns.drop-shadow.mobile-margin
        a(href='/')
          img(src='http://placehold.it/450x300')
          h3.text-overlay Brand Consulting
      .large-4.columns.drop-shadow.mobile-margin
        a(href='/')
          img(src='http://placehold.it/450x300')
          h3.text-overlay Brand Consulting
      .large-4.columns.drop-shadow.mobile-margin
        a(href='/')
          img(src='http://placehold.it/450x300')
          h3.text-overlay Brand Consulting
