extends layouts/h5bp.jade

block content
  .photo-borders#whats-new.section-padding
    .row
      .columns
        h4 What's New
      .medium-4.columns.consulting-shadow
        a(href='/')
          img(src='http://placehold.it/650x500')
      .medium-8.columns
        h5 Chadwick's Peach Tartine Recipe
        p This summer inspired snack is both simple and irresistible sim autenissita que porese et dolore nimperio etur sunt rest endae. Et facestio illa sunt lit perions eqaspe rfernatur.
      hr
      .medium-4.columns.consulting-shadow
        a(href='/')
          img(src='http://placehold.it/650x500')
      .medium-8.columns
        h5 Chadwick's Peach Tartine Recipe
        p This summer inspired snack is both simple and irresistible sim autenissita que porese et dolore nimperio etur sunt rest endae. Et facestio illa sunt lit perions eqaspe rfernatur.
      hr
      .medium-4.columns.consulting-shadow
        a(href='/')
          img(src='http://placehold.it/650x500')
      .medium-8.columns
        h5 Chadwick's Peach Tartine Recipe
        p This summer inspired snack is both simple and irresistible sim autenissita que porese et dolore nimperio etur sunt rest endae. Et facestio illa sunt lit perions eqaspe rfernatur.
      hr
