footer {
  background-color: $light-grey;
  list-style: none;
  margin-top: 2rem;
  text-align: center;

  li {
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
  }

  a {
    background-color: $light-grey;
    display: inline-block;
  }

  p {
    font-size: 0.9rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
  }
}
