footer
  ul
    li
      a(href="#")
        img(src="")
    li
      a(href="#")
        img(src="")
    li
      a(href="#")
        img(src="")
    li
      a(href="#")
        img(src="")
    li
      a(href="#")
        img(src="")
  p Copyright &copy; 2015 Lovely & Delicious Enterprises, Inc. All Rights Reserved.