.row.display
  .medium-8.columns
    img(src='http://placehold.it/650x400')
  .medium-4.columns.display
    img(src='http://placehold.it/350x150')
  .medium-4.columns
    img(src='http://placehold.it/350x267')
.row.display
  .medium-4.columns
    img(src='http://placehold.it/333x300')
  .medium-4.columns
    img(src='http://placehold.it/333x300')
  .medium-4.columns
    img(src='http://placehold.it/333x300')
