.photo-borders
  .row.display
    .medium-8.columns.drop-shadow.mobile-margin
      a(href='/')
        img(src='images/650x410.gif')
        h3.text-overlay Recipes
    .medium-4.columns.display.drop-shadow.mobile-margin
      a(href='/')
        .rectangle 
          h3.whats-new-text What's New >
    .medium-4.columns.drop-shadow
      a(href='/')
        img(src='http://placehold.it/650x500')
        h3.text-overlay Videos
  .row.display
    .medium-4.columns.drop-shadow.mobile-margin
      a(href='/')
        img(src='http://placehold.it/650x500')
        h3.text-overlay Brand Consulting
    .medium-4.columns.drop-shadow.mobile-margin
      a(href='/')
        img(src='http://placehold.it/650x500')
        h3.text-overlay Press
    .medium-4.columns.drop-shadow.mobile-margin
      a(href='/')
        img(src='http://placehold.it/650x500')
        h3.text-overlay Contact
