nav.text-center
  ul
    li
      a(href='/about.html') about
    li
      a(href='/partners.html') partners 
    li
      a(href='/appearances.html') appearances 
    li
      a(href='/recipes.html') recipes 
    li
      a(href='/brand-consulting.html') brand consulting
    li
      a(href='/television.html') television
    li
      a(href='/contact.html') contact 