nav.text-center
  ul
    li
      a(href='#') about
    li
      a(href='#') partners 
    li
      a(href='#') brand consulting 
    li
      a(href='#') press 
    li
      a(href='#') what's new 
    li
      a(href='#') contact 