nav.text-center
  ul
    li
      a(href='/about.html') about
    li
      a(href='/recipes.html') recipes 
    li
      a(href='#') brand consulting 
    li
      a(href='#') press 
    li
      a(href='#') what's new 
    li
      a(href='#') contact 