article
  .row
    .columns
      img(src='/')
    .medium-3.columns
      h6 More Recipes
    .medium-9.columns
      h5 Sriracha Ginger Cauliflower
      p &bull; &bull; &bull;
      p#serving-size Serves 4-6
      p#article 