.home-grid
  .row.display
    .medium-8.columns.drop-shadow.mobile-margin.new-recipe-flag
      a(href='/recipe-detail.html') 
        img(src='http://placehold.it/650x455')
      p
        span New Recipe
      h3.text-overlay fig bleu cheese tartines
    .medium-4.columns.display.drop-shadow.mobile-margin
      img(src='http://placehold.it/650x450')
      h3.text-overlay sriracha ginger cauliflower
    .medium-4.columns.drop-shadow
      img(src='http://placehold.it/650x450')
      h3.text-overlay Rosemary Dadishes
  .row.display
    .medium-4.columns.drop-shadow.mobile-margin
      img(src='http://placehold.it/650x450')
      h3.text-overlay Roasted cauliflower gratin 
    .medium-4.columns.drop-shadow.mobile-margin
      img(src='http://placehold.it/650x450')
      h3.text-overlay Blue Cheese and Fig Tart
    .medium-4.columns.drop-shadow.mobile-margin
      img(src='http://placehold.it/650x450')
      h3.text-overlay Shaved Broccoli Stalk Salad
