.row
  .medium-8.columns
    img(src='/')
  .medium-4.columns
    img(src='/')
  .medium-4.columns
    img(src='/')
.row
  .medium-4.columns
    img(src='/')
  .medium-4.columns
    img(src='/')
  .medium-4.columns
    img(src='/')
